nbsphinx
sphinx_rtd_theme
applesoss==2.0.2
astropy
astroquery
bottleneck
corner
jwst==1.12.5
matplotlib
more_itertools
numpy
pandas
ray
scikit-learn
scipy
tqdm
pastasoss
pyyaml
dynesty==1.2.2
exotic_ld
exouprf
h5py
